@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  background-color: #fcf6ba;
  box-sizing: border-box;
  border-top: solid 30px #ffffff;
  border-bottom: solid 30px #ffffff;
  overflow: hidden;
}

.Top {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #969696;
  color: #ffffff;
  border-radius: 30px 30px 225px 30px;
  margin-top: -100px;
  margin-left: -75px;
  font-family: "Anton", sans-serif;
}
.Top h3 {
  margin-left: 100px;
  margin-top: 100px;
  font-size: 30px;
  width: 100px;
  line-height: 60px;
}
.Top h3 span {
  background-color: red;
  font-size: 40px;
}

.screen {
  width: 100%;
  height: 100%;
  left: 100%;
}

.namecard {
  position: fixed;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  padding: 0px 20px 30px 20px;
  overflow: hidden;
  background-color: #969696;
  color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: 20px 25px 15px -15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Noto Sans TC", sans-serif;
  transition: 1s;
}
.namecard h2 {
  font-size: 25px;
}
.namecard span {
  font-size: 18px;
}
.namecard h5 {
  font-size: 16px;
  font-weight: 400;
}

.namecard:hover {
  transform: translate(-100px, -200px);
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background-color: #ffff64;
  color: #ffff64;
  box-shadow: -20px -25px 15px -15px rgba(0, 0, 0, 0.5);
  border: solid 1px #ffff64;
}

.namecard:active {
  background-color: #fff;
  background-color: #fff;
  background-color: #fff;
}
.namecard:active h2 {
  color: #fff;
}
.namecard:active h5 {
  color: #fff;
}
.namecard:active hr {
  border-color: #fff;
}

.allbub {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333;
  animation: back 5s infinite;
}
@keyframes falling {
  100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100%, 0px);
  }
  100% {
    transform: translate(0px, 100px);
  }
}
.allbub [class*="bub"] {
  background-color: #c8fafa;
  width: 3px;
  height: 20px;
  border-radius: 5px;
  animation: falling 0.5s infinite;
}
.allbub .bub1 {
  position: absolute;
  left: 3.3853784419%;
  top: 20.9402657037%;
  animation-delay: -0.1s;
}
.allbub .bub2 {
  position: absolute;
  left: 11.3034954981%;
  top: 79.2489326446%;
  animation-delay: -0.2s;
}
.allbub .bub3 {
  position: absolute;
  left: 99.5399708831%;
  top: 14.482805381%;
  animation-delay: -0.3s;
}
.allbub .bub4 {
  position: absolute;
  left: 51.6084380923%;
  top: 66.5171132745%;
  animation-delay: -0.4s;
}
.allbub .bub5 {
  position: absolute;
  left: 60.3136908551%;
  top: 1.8657876881%;
  animation-delay: -0.5s;
}
.allbub .bub6 {
  position: absolute;
  left: 32.7938569727%;
  top: 68.8822065808%;
  animation-delay: -0.6s;
}
.allbub .bub7 {
  position: absolute;
  left: 88.6173832372%;
  top: 35.2905485827%;
  animation-delay: -0.7s;
}
.allbub .bub8 {
  position: absolute;
  left: 90.1269051028%;
  top: 39.0425235134%;
  animation-delay: -0.8s;
}
.allbub .bub9 {
  position: absolute;
  left: 44.3380241761%;
  top: 47.0608654707%;
  animation-delay: -0.9s;
}
.allbub .bub10 {
  position: absolute;
  left: 62.8475648062%;
  top: -4.6718249416%;
  animation-delay: -1s;
}
.allbub .bub11 {
  position: absolute;
  left: 43.3761612589%;
  top: 66.9030563581%;
  animation-delay: -1.1s;
}
.allbub .bub12 {
  position: absolute;
  left: 24.284047952%;
  top: 69.8944600296%;
  animation-delay: -1.2s;
}
.allbub .bub13 {
  position: absolute;
  left: 70.2985506505%;
  top: 64.9953282921%;
  animation-delay: -1.3s;
}
.allbub .bub14 {
  position: absolute;
  left: 52.4210159354%;
  top: 40.107523342%;
  animation-delay: -1.4s;
}
.allbub .bub15 {
  position: absolute;
  left: 23.8550611566%;
  top: 44.4317982018%;
  animation-delay: -1.5s;
}
.allbub .bub16 {
  position: absolute;
  left: 79.5957698049%;
  top: 12.9511391238%;
  animation-delay: -1.6s;
}
.allbub .bub17 {
  position: absolute;
  left: 81.9808002092%;
  top: -4.7974199596%;
  animation-delay: -1.7s;
}
.allbub .bub18 {
  position: absolute;
  left: 5.9179122221%;
  top: 32.2826697726%;
  animation-delay: -1.8s;
}
.allbub .bub19 {
  position: absolute;
  left: 40.240251235%;
  top: 81.2990485062%;
  animation-delay: -1.9s;
}
.allbub .bub20 {
  position: absolute;
  left: 35.4535187665%;
  top: 19.740933408%;
  animation-delay: -2s;
}
.allbub .bub21 {
  position: absolute;
  left: 90.6937677488%;
  top: 28.6437277098%;
  animation-delay: -2.1s;
}
.allbub .bub22 {
  position: absolute;
  left: 26.1165132274%;
  top: 47.3782606984%;
  animation-delay: -2.2s;
}
.allbub .bub23 {
  position: absolute;
  left: 25.9116756982%;
  top: 88.579483587%;
  animation-delay: -2.3s;
}
.allbub .bub24 {
  position: absolute;
  left: 93.8966183296%;
  top: 72.3432186351%;
  animation-delay: -2.4s;
}
.allbub .bub25 {
  position: absolute;
  left: 60.3057539344%;
  top: 29.2652892364%;
  animation-delay: -2.5s;
}
.allbub .bub26 {
  position: absolute;
  left: 85.2076506324%;
  top: 32.3676069948%;
  animation-delay: -2.6s;
}
.allbub .bub27 {
  position: absolute;
  left: 37.4219898835%;
  top: 86.5449772167%;
  animation-delay: -2.7s;
}
.allbub .bub28 {
  position: absolute;
  left: 37.0737764519%;
  top: -3.9887952026%;
  animation-delay: -2.8s;
}
.allbub .bub29 {
  position: absolute;
  left: 37.6068427269%;
  top: 64.618927144%;
  animation-delay: -2.9s;
}
.allbub .bub30 {
  position: absolute;
  left: 49.7394715052%;
  top: 86.0221897117%;
  animation-delay: -3s;
}

@keyframes back {
  0% {
    background-color: #323232;
  }
  40% {
    background-color: #c8fafa;
  }
  50% {
    background-color: #c8fafa;
  }
  100% {
    background-color: #323232;
  }
}
@keyframes title {
  0% {
    margin-top: -200px;
    margin-left: -300px;
  }
  50% {
    margin-top: -75px;
    margin-left: -50px;
  }
  100% {
    margin-top: -100px;
    margin-left: -75px;
  }
}
.Top {
  animation-name: title;
  animation-duration: 2.5s;
}
